<div style="padding: 0 40%">
  <h1 style="text-align: center;">Tableau de bord</h1>
  <hr>
</div>
<nz-table #basicTable [nzData]="listOfData">
  <thead>
  <tr>
    <th>Nom de l'objet</th>
    <th>Emplacement</th>
    <th>Mode localisation</th>
    <th>Localisation</th>
    <th>Liste de lecture</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.name }}</td>
    <td>{{ data.location }}</td>
    <td>{{ data.isLost ? 'Oui' : 'Non' }}</td>
    <td>
      <button (click)="toggleDeviceLost(data)" onclick="deviceLost()">Localiser</button>
    </td>
    <td>
      <a [routerLink]="data.id + '/playlist'">Consulter la liste</a>
      <!-- <div class="clearfix">
        <nz-upload
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          nzListType="picture-card"
          [(nzFileList)]="fileList"
          [nzShowButton]="fileList.length < 8"
          [nzPreview]="handlePreview"
        >
          <div>
            <span nz-icon nzType="plus"></span>
            <div style="margin-top: 8px">Upload</div>
          </div>
        </nz-upload>
        <nz-modal
          [nzVisible]="previewVisible"
          [nzContent]="modalContent"
          [nzFooter]="null"
          (nzOnCancel)="previewVisible = false"
        >
          <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ width: '100%' }"/>
          </ng-template>
        </nz-modal>
      </div> -->
    </td>
  </tr>
  </tbody>
</nz-table>
