<div style="padding: 0 40%">
  <h1 style="text-align: center;">Tableau de bord</h1>
  <hr>
</div>
<nz-table #basicTable [nzData]="listOfData">
  <thead>
  <tr>
    <th>Nom de l'objet</th>
    <th>Emplacement</th>
    <th>Mode localisation</th>
    <th>Localisation</th>
    <th>Liste de lecture</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <!-- <td>{{ data.name }}</td> -->
    <td> 
      <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id, 'name')">
        {{ data.name }}
      </div>
      <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.name" (blur)="stopEdit(data.id, data.name, 'name')" />
    </td>
    <td>
      <div class="editable-cell" [hidden]="editLocationId === data.id" (click)="startEdit(data.id, 'location')">
        {{ data.location }}
      </div>
      <input [hidden]="editLocationId !== data.id" type="text" nz-input [(ngModel)]="data.location" (blur)="stopEdit(data.id, data.location, 'location')" />
    </td>
    <td>{{ data.isLost ? 'Oui' : 'Non' }}</td>
    <td>
      <button nz-button nzType="secondary" (click)="toggleDeviceLost(data)">Localiser</button>
    </td>
    <td>
      <a [routerLink]="data.id + '/playlist'">Consulter la liste</a>
    </td>
  </tr>
  </tbody>
</nz-table>
